/* ===== 
VARIABLE
======*/
:root {
/* HEIGHT */
--topbar-height: 4rem;
/* COLOR */
--first-color: #0D1117;
--second-color: #111820;
--light-text: #d1d0d0;
--dark-text: #ACACAC;
--colored: #dc3545;
--overlay: #1b1b1d;
--border-color: #212730;
}

/* ===== 
GLOBAL  
======*/

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--second-color);
    color: var(--light-text);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

a{
    color: var(--light-text);
}

a:hover {
    color: var(--colored);
    text-decoration: none;
}

.section-header {
    text-align: center;
    margin: 16px 0 16px 0;
}

.title {
    color: var(--colored);
    font-size: 1.6rem;
    font-weight: 600;
}

.sub-title {
    font-size: 1rem;
    font-weight: 400;
}

.container {
    padding: 24px;
}

.colored {
    background: var(--first-color);
    border-radius: 16px;
}

.colored-text {
    font-weight: 600;
    color: #dc3545;
}

.iconify {
    font-size: 48px;
    margin: 32px 0;
}

.modal-content {
    background: var(--second-color);
}

.modal-header, .modal-footer {
    border-color: var(--colored);
}

p {
    margin-bottom: 0;
}

input[type="text"], textarea, .form-control {
    background-color: var(--first-color);
    border-color: var(--colored);
    color: var(--dark-text);
}

#about, #education, #skill, #project, #contact{
    margin: 0 0 24px 250px;
}

/* ===== 
TOPBAR 
======*/

.topbar {
    background-color: var(--first-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    height: var(--topbar-height);
    position: fixed;
    justify-content: space-between;
    width: 100%;
    margin-left: 250px;
    z-index: 1;
    opacity: 0;
}

.burger-menu {
    align-self: center;
    color: var(--dark-text);
    font-size: 2.5rem;
    margin-left: 20px;
}

/* ===== 
SIDEBAR 
======*/

.sidebar {
    background-color: var(--first-color);
    border-right: 1px solid var(--border-color);
    color: #31313b;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 4;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 32px 0;
}

.sidebar-logo {
    color: var(--colored);
    font-family: 'Yellowtail', cursive;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 500;
    justify-items: stretch;
    padding: 0 48px;
    margin: 16px 0;
}

.sidebar-content>ul {
    margin: 0;
    padding: 0;
}

.sidebar-item {
    margin: 32px 0;
    list-style: none;
}

.sidebar-footer{
    color: var(--light-text);
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
    margin: 16px 0;
}

.overlay {
    background-color: var(--overlay);
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    opacity: 30%;
    z-index: 2;
}

/* ===== 
HOME 
======*/
#home {
    height: 100vh;
    padding: 100px 0 0 250px;
}

.profile-photos {
    width: 200px;
}

.header-name {
    color: var(--colored);
}

/* ===== 
ABOUT 
======*/

.information-list {
    margin: 16px 0;
}

.information-list>.iconify {
    color: var(--colored);
    font-size: 24px;
    margin: 0;
}

.education-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    border-left: solid 3px var(--colored);
    padding-left: 16px;
    margin: 16px 0;
}


/* Project */

.card-logo {
    font-size: 16px;
    margin: 0;
}

.portfolio-items {
    position: relative;
    cursor: pointer;
    margin-bottom: 12%;
}

.portfolio-items:hover .thumbnail-img{
    transition: 400ms;
    transform: translateY(5%);
}

/* .portfolio-items:hover .mask{
    transition: 500ms; 
    opacity: 80%
} */


.portfolio-items:hover .details{ 
    transition: 1s; 
    opacity: 100%;
    transform: translateY(5%);
}

.thumbnail-img {
    height: 200px;
    filter: brightness(70%);
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
}

.details {
    background-color: var(--second-color);
    border: solid var(--first-color) 1px;
    opacity: 0;
    width: 100%;
    position: absolute;
    padding: 0 12px 0 12px;
    bottom: 3px;
    z-index: 2;
}

.details-title {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--dark-text);
}

.mask {
    background-color: var(--second-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border-radius: 16px;
    opacity: 0;
    z-index: 1;
}

/* CONTACT */
#message {
    height: 125px;
}

/* FOOTER */
#footer {
    background-color: var(--first-color);
    margin: 84px 0 0 250px;
    height: 120px;
}
/* Responsive Breakpoint */

/* Tablet */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 250px;
        left: -250px;
        transition: all 0.3s ease;
        overflow-y: scroll;
    }

    .topbar {
        margin-left: 0px;
        opacity: 100%;
    }

    #home, #about, #education, #skill, #project, #contact, #footer {
        padding-left: 0px;
        margin-left: 0px;
    }

    .burger-menu {
        opacity: 100%;
    }

    .menu {
        right: 5px;
    }

    .colored-section {
        overflow-x: scroll;
    }

    .slide {
        left: 0;
        transition: all 0.3s ease;
    }

    .overlay .show {
        background-color: #31313b;
        opacity: 50%;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 2;
    }
    
    .section-header {
        margin-top: 40px;
    }

}

/* Mobile */
/* @media screen and (max-width: 576px) {

} */
